<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/logs/dpp_server.log" />
		<param name="immediateFlush" value="true" />
		<param name="threshold" value="debug" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="50MB" />
		<!-- <param name="maxBackupIndex" value="5"/> -->

		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.falconio.dpp">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework">
		<level value="OFF" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
